.demosss{
  text-align: center;
  padding: 130px;
  background-color:#59de0e;
  background-repeat: no-repeat;
  background-size: cover;
}


.images{
  width: 160%;
  height: 180%;
  margin-bottom: 200%;
}

.company{
  color: white;
}

.topnav a {
    float: right;
    color:whitesmoke;
    background-color:#59de0e;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 30px;
    height: 130px;
    margin-bottom: 20px;
    padding-top: 20px;
}
  
.topnav a:hover {
    background-color:black;
    color:white;
}

  
.topnav a.active {
    background-color: white;
    color:green;
    height: 130px;
}

.topnavs{
    background-color:#26351e;
    background-repeat: no-repeat;
    background-size: cover;
}



.raise{
  background-color:#26351e;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  top: 600px;
  padding:30px;
  text-align: right;
}
