h2{
    color:green;
    margin-top: 150px;
}

.myform input{
    padding: 20px;
    border-radius: 10px solid green;
    margin-top: 25px;
}

.back-image{
    background-image: url("https://wallpaperaccess.com/full/1567666.png");
    background-size: cover;
    background-repeat: no-repeat;
}