.not_msg{
    width: fit-content;
    padding: 10px 30px;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    display: none;
}

.body_login_back{
    background-image: url("https://wallpaperaccess.com/full/1567666.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    color: whitesmoke;
}

.checkbox{
    color: whitesmoke;
}
.form-group{
    color: whitesmoke;
}